<%= provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%# fieldsパーシャルに明示的にfを渡してやる必要がある %>
			<%= render 'fields', f: f %>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>

		<%= gravatar_for @user %>
		<%# 別タブで開く。別ウィンドウで開くことがrails3以降できなくなった？（JavaScriptを使えば何とかなるのかも） %>
		<%= link_to "change", "http://gravatar.com/emails", :target=>"_blank" %>
	</div>
</div>